version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html
    volumes:
      - ./composer.lock:/var/www/html/composer.lock
      - ./vendor:/var/www/html/vendor
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: guestbook
    volumes:
      - db_data:/var/lib/mysql
      - ./guestbook.sql:/docker-entrypoint-initdb.d/guestbook.sql
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8081:80"
    depends_on:
      - db
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: password

volumes:
  db_data:
